{% extends "index.html" %}
{% block content %}
    <div class="pheno-info">
            <h1>{{ phecode }}: {{phenotype}}</h1>
            <b>{{ cases }}</b> cases, <b>{{ controls }}</b> controls <br>
            Category: <b>{{ category }}</b>
    </div>
    <div id="chart" class="chart">
        <script type="text/javascript">

            var graphs = {{graphJSON | safe}};

            Plotly.plot('chart', graphs, {}, {displaylogo: false});

        </script>
    </div>
    <div class="top-results">
        <div id="table-header" class="table-header">
            <p><b>Top Results</b></p>
            <span>
                <button class="btn"><i class="fa fa-download"></i><a href="/download/{{ phecode.replace('.', '-') }}">Download</a></button>
            </span>
        </div>
        <table id="gwasTable" class="cell-border stripe hover">
            <thead>
                <tr>
                    {% for col in column_names %}
                    <th>{{col}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in row_data %}
                <tr>
                {% for col, row_ in zip(column_names, row) %}
                    {% if col == id_col %}
                        <td> <a href="/variant/{{ row_ }}">{{ row_ }}</a></td>
                    {% elif col == gene_col %}
                        <td> <a href="https://www.ebi.ac.uk/gwas/search?query={{ row_ }}">{{ row_ }}</a></td>
                    {% elif col == ref_col %}
                        <td> <a href="https://www.ncbi.nlm.nih.gov/clinvar/?term={{ row_ }}">{{ row_ }}</a></td>
                    {% else %}
                        <td> {{ row_ }}</td>
                    {% endif %}
                {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <script>
            /* Initialization of datatable */
            $(document).ready(function() {
                $('#gwasTable').DataTable({
                  "order": [[6, 'asc']]
                });
            });
        </script>
    </div>
{% endblock %}