<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mynavbar.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Mirshahi Pheweb</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-default" style="background: white;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" style="color: #333; font-weight: bold; float: left; font-size: 15px;">PheWeb</a>
        </div>
    </div>
    </nav>

    <div>
        <h1>{{ phecode }}: {{phenotype}}</h1>
        <b>{{ cases }}</b> cases, <b>{{ controls }}</b> controls <br>
        Category: <b>{{ category }}</b>
    </div>

    <div id="chart" class="chart">
        <script type="text/javascript">

            var graphs = {{graphJSON | safe}};

            Plotly.plot('chart',graphs,{});

        </script>
    </div>
    <div id="topresults">
        <div id="table-header" class="side-layout">
            <h2>Top Results</h2>
            <span><button class="btn"><i class="fa fa-download"></i> Download</button></span>
        </div>
        <table>
            <tr>
                {% for col in column_names %}
                <th>{{col}}</th>
                {% endfor %}
            </tr>
            {% for row in row_data %}
            <tr>
                {% for col, row_ in zip(column_names, row) %}
                {% if col == link_column %}
                <td>
                    <button type="submit" value={{ row_ }} name="VAR_ID">
                        {{ row_ }}
                    </button>
                </td>
                {% else %}
                <td>{{row_}}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}

        </table>
    </div>
</body>


</html>