<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
  <title>Mirshahi Pheweb</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>

<body>
  <div class="topnav">
    <a href="/" style="float: left">Home</a>
    <form >
        <input type="search" placeholder="Search.." name="navigator" id="sitesearch">
    </form>
    <a href="#about ">About</a>
    <a href="#about">Phenotypes</a>
    <a href="#contact">Top Results</a>
  </div>
  <div class="pheno-info">
    <h1>{{ phecode }}: {{phenotype}}</h1>
    <b>{{ cases }}</b> cases, <b>{{ controls }}</b> controls <br>
    Category: <b>{{ category }}</b>
  </div>

  <div id="chart" class="chart">
    <script type="text/javascript">

        var graphs = {{graphJSON | safe}};

        Plotly.plot('chart',graphs,{});

    </script>
  </div>
  <div class="top-results">
    <div id="table-header" class="table-header">
        <h2>Top Results</h2>
        <span><button class="btn"><i class="fa fa-download"></i> Download</button></span>
    </div>
    <table>
      <tr>
        {% for col in column_names %}
        <th>{{col}}</th>
        {% endfor %}
      </tr>
      {% for row in row_data %}
      <tr>
        {% for col, row_ in zip(column_names, row) %}
          {% if col == id_col %}
            <td> <a href="/variant/{{ row_ }}">{{ row_ }}</a></td>
          {% elif col == gene_col %}
            <td> <a href="/gene/{{ row_ }}">{{ row_ }}</a></td>
          {% else %}
            <td> {{ row_ }}</td>
          {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>
</body>


</html>