<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pheweb</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="topnav">
    <a href="/" style="float: left">Home</a>
    <form action="{{ url_for('.go') }}" role="search">
        <input type="search" placeholder="Search for phenotype or variant..." name="query" id="navbar-search-input" autocomplete="off">
    </form>
    <a href="#about ">About</a>
    <a href="#about">Phenotypes</a>
    <a href="#contact">Top Results</a>
  </div>
</body>
</html>