<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navbar Testing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mynavbar.css') }}">
</head>
<body>
<nav class="navbar navbar-default" style="background: white;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" style="color: #333; font-weight: bold; float: left; font-size: 15px;">PheWeb</a>
            <div id="navbar_form_container">
                <form action="/" class="navbar-form" role="search">
                    <div class="form-group" id="navbar-awesomebar">
                        <input id="navbar-searchbox-input" name="query" class="form-control typeahead tt-input" autocomplete="off" type="text" size="40" placeholder="Search for a variant, gene, or phenotype" spellcheck="false" dir="auto" aria-activedescendant="" aria-owns="navbar-searchbox-input_listbox" role="combobox" aria-readonly="true" aria-autocomplete="list" style="position: relative; vertical-align: top;">
                        <span role="status" aria-live="polite" style="position: absolute; padding: 0; border: 0; height: 1px; width: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap;"></span>
                        <pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>
</body>
</html>