{% extends "index.html" %}
{% block title %}Phenotypes{% endblock %}
{% block links %}
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js", type="text/javascript"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js", type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css"/>
{% endblock %}

{% block content %}
    <table id="topResultsTable" class="display">
        <thead>
            <tr>
                {% for col in column_names %}
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in row_data %}
                <tr>
                {% for col, row_ in zip(column_names, row) %}
                    {% if col == variant_col %}
                        <td> <a href="/variant/{{ row_ }}">{{ row_ }}</a></td>
                    {% elif col == pheno_col %}
                        <td> <a href="/pheno/{{ row_ }}">{{ row_ }}</a></td>
                    {% else %}
                        <td> {{ row_ }}</td>
                    {% endif %}
                {% endfor %}
                </tr>
                {% endfor %}
        </tbody>
    </table>
    <script>
        /* Initialization of datatable */
        $(document).ready(function() {
            $('#topResultsTable').DataTable({
                "order": [[3, 'asc']],
                "dom": 'Blfrtip',
                "buttons": ['csv'],
                "pageLength": [100],
                "lengthMenu": [ [10, 25, 100, -1], [10, 25, 100, "All"] ]
            });
        });
    </script>
{% endblock %}